// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.1;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.table-sm.table-items td, .table-sm.table-items th{
  padding: 0.4rem 0.5rem;
}
.table-sm.table-delivery td, .table-sm.table-delivery th{
  padding: 1.2rem 0.5rem
}